/*Name: Ayush Vora*/
/*Course: ICS3U*/
/*Version: 1.0.0*/
/*Date: 21 November, 2019*/

/* Color Theme Swatches in Hex */
.Retro-Summer-2-1-hex { color: #011C40; }
.Retro-Summer-2-2-hex { color: #175073; }
.Retro-Summer-2-3-hex { color: #F2EFC4; }
.Retro-Summer-2-4-hex { color: #F27B13; }
.Retro-Summer-2-5-hex { color: #A60303; }

body {
    background-color: #011C40 ;
}

h1, h2 {
    color: #F27B13;
    text-align: center;
    font-family: "Public Sans", Arial, sans-serif;
}
h3 {
    color: #F2EFC4;
    font-family: "Public Sans", Arial, sans-serif;
}


button {
    background-color: #A60303;
    border: none;
    color: #F2EFC4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lato", Arial, sans-serif;
}

form {
    color: #F2EFC4;
    font-family: "Lato", Arial, sans-serif;
    font-size: 24px;
}

.centered_buttons {
    text-align: center;
}

.dropdown {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown.student {
    padding-top: 1%;
    padding-bottom: 1%;
}

textarea {
    width: 100%;
    height: 100px;
}

.row {
    display: flex;
}

.column {
    padding: 10px;
    flex: 50%;
}

#column1 {
    flex: 30%;
}

#column2 {
    flex: 70%;
}



th, td {
    border-bottom: 1px solid #F2EFC4;
    color: #F2EFC4;
    font-family: "Lato", Arial, sans-serif;
    padding: 10px;
}

th {
    background-color: #175073;
    text-align: center;
}

td {
    color: #F2EFC4;
}

.tabs {
    text-align: center;
}

.material-icons.md-48 {
    color: #A60303;
    font-size: 48px;
    padding-left: 25px;
    padding-right: 25px;
}

.material-icons.md-48.current {
    color: #175073;
}