/*Name: Ayush Vora*/
/*Course: ICS3U*/
/*Version: 1.0.0*/
/*Date: __ November, 2019*/

/*https://color.adobe.com/search?q=website*/
body {
    background-color: #010B40;
}

h1, h2 {
    color: #F2F2F2;
    text-align: center;
    font-family: "Open Sans", Arial, sans-serif;
}
h3 {
    color: #F2F2F2;
    font-family: "Open Sans", Arial, sans-serif;
}


button {
    background-color: #F2293A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto Light", Arial, sans-serif;
}

form {
    color: #0BADBF;
    font-family: "Roboto Light", Arial, sans-serif;
}

.submit-form {
    padding-top: 5px;
    padding-bottom: 5px;
}

textarea {
    width: 30%;
    height: 100px;
}